version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:current
    resource_class: yuuki1967/myubuntu3
    steps:
      - run: echo "Hi I'm on a Container Runner!"
  deploy:
    docker:
      - image: cimg/base:current
    resource_class: yuuki1967/myubuntu3
    steps:
    - run:
      name: Plan a deploy
      command:|
        circleci run release plan \
        --environment-name="rollback" \
        --component-name="rollback" \
        --target-version="v0.0.1"
   # Your job here doing the actual deployment
   - run:
     name: Update a deploy to SUCCESS
     command: circleci run release update --status=SUCCESS 
     when: on_success 
  - run:
    name: Update planned deploy to FAILED
    command: circleci run release update --status=FAILED 
    when: on_fail

workflows:
  build-workflow:
    jobs:
      - build
      - deploy 
